*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
}
.pict{
    width: 50%;
    text-align: center;
}
.content{
    width: 50%;
    padding: 80px 50px 15px;
}
h2{
    width: 98px;
    height: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #DC780B;
    line-height: 24px;
    padding: ;
    font-family: "Roboto", sans-serif;
}
.title{
    width: 487px;
    height: 112px;
    font-size: 32px;
    line-height: 50px;
    color: #150C01;
    margin-top: 10px;
    line-height: 45px;
    font-family: "Philosopher", sans-serif
}
.text{
    width: 486px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    color: #150C01;
    margin-top: 30px;
    font-family: "Roboto", sans-serif
}
button{
    width: 142px;
    height: 42px;
    background-color: #DC780B;
    color: #FFFFFF;
    margin-top: 33px;
    border: none;2px
}
@media(max-width: 1200px){
    section{
        flex-direction: column;
    }
    .pict,
    .content{
        width: 100%;
    }
}